[submodule "BUILD"]
	path = BUILD
	url = RCCohenLab@128.32.208.13:/volume2/share2/GROUP/MODELING/WRF-Chem/Auto-WRF-Chem/WRFAutomation.git
[submodule "WPS"]
	path = WPS
	url = RCCohenLab@128.32.208.13:/volume2/share2/GROUP/MODELING/WRF-Chem/Auto-WRF-Chem/WPS.git
[submodule "NEI"]
	path = NEI
	url = RCCohenLab@128.32.208.13:/volume2/share2/GROUP/MODELING/WRF-Chem/Auto-WRF-Chem/NEI.git
[submodule "MEGAN"]
	path = MEGAN
	url = RCCohenLab@128.32.208.13:/volume2/share2/GROUP/MODELING/WRF-Chem/Auto-WRF-Chem/MEGAN.git
[submodule "MOZBC"]
	path = MOZBC
	url = RCCohenLab@128.32.208.13:/volume2/share2/GROUP/MODELING/WRF-Chem/Auto-WRF-Chem/MOZBC.git
[submodule "WRFV3"]
	path = WRFV3
	url = RCCohenLab@128.32.208.13:/volume2/share2/GROUP/MODELING/WRF-Chem/WRF-Chem-Versions/WRF-Chem-3.5.1-R2SMH.git
