[submodule "BUILD"]
	path = BUILD
	url = ../AutoWRFChem-Base.git
[submodule "WPS"]
	path = WPS
	url = ../WPS.git
[submodule "NEI"]
	path = NEI
	url = ../NEI.git
[submodule "MEGAN"]
	path = MEGAN
	url = ../MEGAN.git
[submodule "MOZBC"]
	path = MOZBC
	url = ../MOZBC.git
[submodule "WRFV3"]
	path = WRFV3
	url = ../WRF-Chem-R2SMH.git
